<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABC_Ed_Services.Properties.Settings.TAfeDBConnectionString" connectionString="Data Source=|DataDirectory|\bin\Debug\TAfeDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="ABC_Ed_Services.Properties.Settings.LibsConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\dalevanh\Desktop\Libs.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
        <add name="ABC_Ed_Services.Properties.Settings.TafeDBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\dalevanh\Desktop\TafeDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITafeDBService" />
                <binding name="BasicHttpsBinding_ITafeDBService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://abcedwcfservice20180519062332.azurewebsites.net/TafeDBService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITafeDBService"
                contract="TafeDBServiceReference.ITafeDBService" name="BasicHttpBinding_ITafeDBService" />
            <endpoint address="https://abcedwcfservice20180519062332.azurewebsites.net/TafeDBService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITafeDBService"
                contract="TafeDBServiceReference.ITafeDBService" name="BasicHttpsBinding_ITafeDBService" />
        </client>
    </system.serviceModel>
</configuration>
