<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABC_Ed_Services.Properties.Settings.TAfeDBConnectionString"
            connectionString="Data Source=|DataDirectory|\bin\Debug\TAfeDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ABC_Ed_Services.Properties.Settings.LibsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\dalevanh\Desktop\Libs.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ABC_Ed_Services.Properties.Settings.TafeDBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\dalevanh\Desktop\TafeDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>